<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js" integrity="sha512-QJsj3afWlCpnQ60XzzYE8Jb3IgHIK1BcGZox9rUSmRRq3Ocz9vQ1yR80eX2/b9jfx/UuT5zYWNdrM8Te/eCMhQ=="
        crossorigin="anonymous"></script>
    <title>Vue Time</title>
</head>

<body>
    <div id="app">
        <h2>Register Your Child</h2>
        <label for="firstname">Firstname-</label>
        <input type="text" id="firstname" v-model="firstname"><br><br>
        <label for="firstname">Lastname-</label>
        <input type="text" id="lastname" v-model="lastname"><br><br>
        <button @click="addStudent">Send</button> <br><br>
        <li v-for="student in students">
            {{student.firstname}} <strong>{{student.lastname}}</strong>
        </li>
    </div>
    <script src="./script.js"></script>
</body>

</html>